html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #222;
}
/*
  ** Principal container
  */
.container {
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: center;
    color: white;

}

#loose {
    color: white;
    font-size: 2rem;
    margin-left: auto;
    margin-right: auto;
}

#items {
    padding: 1rem;
    display: flex;
    flex-flow: row wrap;
    width: 50%;
    height: auto;
    background: #131313;
    border-radius: 12px;
    min-height: 30rem;
}

/*
** Inside container
*/

.container > h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
    color: white;
}

h1#letsFoundIt {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}

input#foundNumber {
    width: 30%;
    height: 10%;
}

#items h1 + label {
    font-size: 2rem;
    width: 100%;
}

button#valide-button {
    max-height: 13%;
    border-radius: 12px;
}

#win {
    display: none;
    text-decoration: none;
    color: green;
}

#win:visited {
    color: green;
}